<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iphone Store</title>
    <link rel="stylesheet" href="static/login.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first pt-3">
            <p><i class="bi bi-apple"></i></p>
            <p class="fw-bold fs-5">Welcome to Iphone Store</p>
        </div>

        <!-- Login Form -->
        <form th:action="@{/}" method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter your username">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter your password">
            <input type="submit" class="fadeIn fourth mt-3" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>


</body>
</html>