*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    min-height: 100%;
}
/*#priceProduct{*/
/*    font-size: 40px;*/
/*    font-size: 7vw;*/
/*}*/